body {
  background-color:#f5deb3; 
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 20px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 0; 
  margin-bottom: 20px;
  box-sizing: content-box;
}

.cell {
  background: #f5deb3; 
  border: 2px solid black; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  cursor: pointer;
  transition: background 0.3s;
  
}

.status-message,
.winner-message {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

.restart-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.restart-button:hover {
  background-color: #555;
}
